annotated-types==0.7.0
certifi==2025.10.5
charset-normalizer==3.4.3
idna==3.10
inflection==0.5.1
minimalmodbus==2.1.1
pydantic==2.11.10
pydantic_core==2.33.2
pyparsing==3.2.5
pyserial==3.5
renogymodbus==0.0.23
requests==2.32.5
retrying==1.4.2
RPi.GPIO==0.7.1
schedule==1.2.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
